
body {
  font-family: 'Arial', sans-serif;
  background-color: #f4f7f6;
  margin: 0;
  padding: 0;
}

.App {
  max-width: 600px;
  margin: 50px auto;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  text-align: center;
}

h1 {
  color: #333;
  font-size: 2rem;
  margin-bottom: 20px;
}


form {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

input {
  width: 70%;
  padding: 12px 15px;
  border: 1px solid #ddd;
  border-radius: 5px;
  font-size: 16px;
  margin-right: 10px;
  transition: all 0.3s;
}

input:focus {
  outline: none;
  border-color: #00b894;
}

button {
  padding: 12px 20px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  background-color: #00b894;
  color: #fff;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #019871;
}


ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  border-radius: 5px;
}

li {
  font-size: 18px;
  padding: 12px;
  border-bottom: 1px solid #ddd;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

li:last-child {
  border-bottom: none;
}

li span {
  flex: 1;
  text-align: left;
}

footer {
  margin-top: 20px;
  font-size: 18px;
  color: #555;
}

